<form class="create-form" action="" method="post">
    <h3>Create Form</h3>
    {{#each errors}}
        <p class="error">{{this}}</p>
    {{/each}}
    <label>Brand:
        <input type="text" name="brand" value="{{shoes.brand}}" /></label>
    <label>Model:
        <input type="text" name="model" value="{{shoes.brand}}" /></label>
    <label>Price:
        <input type="number" name="price" value="{{shoes.price}}" /></label>
    <label>Size:
        <input type="number" name="size" value="{{shoes.size}}" /></label>
    <label>Image:
        <input type="text" name="image" value="{{shoes.image}}" /></label>
    <label>Description:
        <textarea
            name="description"
            id=""
            cols="30"
            rows="10"
        >{{shoes.description}}</textarea></label>
    <input type="submit" value="Create" />
</form>