{{#with shoes}}
    <section class="details-card">
        <img src="{{image}}" alt="" />
        <div class="content">
            <h3>{{brand}} {{model}}</h3>
            <p><span>Price:</span> {{price}}$</p>
            <p><span>Size:</span> {{size}}</p>
            <p class="desc"><span>Description:</span>
                {{description}}
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Deserunt eius cum, voluptatibus id, blanditiis ut nulla nobis
                quasi, maxime expedita minus ipsa.</p>
            <div class="controls">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
        </div>
    </section>
    <p>{{description}}</p>
{{/with}}