{{#with shoes}}
    <section class="details-card">
        <img src="{{image}}" alt="" />
        <div class="content">
            <h3>{{brand}} {{model}}</h3>
            <p><span>Price:</span> {{price}}$</p>
            <p><span>Size:</span> {{size}}</p>
            <p class="desc"><span>Description:</span>
                {{description}}
            </p>
            <span>Extras</span>
            {{#if extras}}
                <ul>

                    {{#each extras}}
                        <li> {{name}}</li>
                    {{/each}}
                    <p class="total"><span>TOTAL Price with extras:</span>
                        {{totalValue}}$</p>
                </ul>
            {{else}}
                <p>No extras added</p>
            {{/if}}

        </div>
        {{#if isOwner}}
            <div class="controls">
                <a href="/edit/{{_id}}">Edit</a>
                <a href="/delete/{{_id}}">Delete</a>
            </div>
        {{/if}}
    </section>
{{/with}}