<form class="extras-form" action="" method="post">
    <h3>Create an Extra</h3>
    <label>Name: <input type="text" name="name" /></label>
    <label>Price: <input type="number" name="price" /></label>
    <input type="submit" value="Create Extra" />
</form>
<section class="extra">
    {{#if extras}}
        <h3>Available Extras</h3>
        <ul>
            {{#each extras}}
                <a href="/extras/{{_id}}/{{name}}"><span
                    >{{name}}:</span>{{price}}$</a>
            {{/each}}
        </ul>
    {{else}}
        <p>There is no extras yet!</p>
    {{/if}}
</section>